.navbar-brand {
  white-space: nowrap;
  font-size: x-large;
}

.navbar-nav .nav-link {
  white-space: nowrap;
}

.navbar-main {
  background-color: #19a4ee;
  border-radius: 0 0 10px 10px;
}

.my-buttons {
  background-color: rgb(255, 255, 255);
}
